<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <h1 align="center" class="omr">OMR On Openlayers </h1>
    <title>Image Load Events</title>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.4.2/css/ol.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://openlayers.org/en/v4.4.2/build/ol.js"></script>
  </head>
  <style>
        .omr {

        color:violet;
        }
        .submit{
      color:white;
      background-color:green;
        }
        .image{
          background-color:#d2d8de;
        }
  </style>
  <body>
    <div class="container">
    <div>
    <div >
    <form action="/submit/" method="post" enctype="multipart/form-data">{% csrf_token %}
     <p>
        <input id="id_image" type="file" class="uploading" name="image">
     </p>
      <input type="submit"  class="submit btn btn-md" value="Submit"/>
    </form>
    </div>
    <br>
    <br>
    <div id="image" class="image"></div>
    <script>

      // Map views always need a projection.  Here we just want to map image
      // coordinates directly to map coordinates, so we create a projection that uses
      // the image extent in pixels.
      var extent = [0, 0, 1024, 968];
      var projection = new ol.proj.Projection({
        code: 'xkcd-image',
        units: 'pixels',
        extent: extent

      });

      var map = new ol.Map({
        layers: [
          new ol.layer.Image({
            source: new ol.source.ImageStatic({
              attributions: '© <a href="http://xkcd.com/license.html">xkcd</a>',
              url:'{{ documents.image.url }}',
              projection: projection,
              imageExtent: extent

            })
          })
        ],
        target: 'image',
        view: new ol.View({
          projection: projection,
          center: ol.extent.getCenter(extent),
          zoom: 1.5,
          maxZoom: 8

        })
      });
    </script>
      </div>
  </body>
</html>